<div class="container-md p-2">
  <div class="card">
    <div class="card-header">
      <h2>List of Students</h2>
    </div>
    <div class="card-bdy m-2">
      Mot Clé : <input type="text" class="p-1" [(ngModel)]="keyWord" />
      <button
        (click)="handleSearchStudent(keyWord)"
        class="btn btn-outline-info ms-2"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Mark</th>
            <th>Course</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prd of students">
            <td>{{ prd.name }}</td>
            <td>{{ prd.mark }}</td>
            <td>{{ prd.course }}</td>
            <td>
              <button
                (click)="handleDeleteStudent(prd)"
                class="btn btn-outline-danger"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td>
              <button
                (click)="handleUpdateStudent(prd)"
                class="btn btn-outline-success"
              >
                <i class="bi bi-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let page of [].constructor(totalPages); let i = index">
          <button
            (click)="handleGoToPage(i + 1)"
            class="btn ms-1"
            [ngClass]="currentPage == i + 1 ? 'btn-info' : 'btn-outline-info'"
          >
            {{ i + 1 }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
